body{
    background-color: rgb(255, 167, 90);
    font-size: 12px;
}

.head{
    color: darkblue;
}

#bglime{
    background-color: rgb(110, 248, 110);
}

p{
    font-size: 16px;
    color: white;
}

#para{
    font-size: 12px;
    color: green;
}

section > a{
    font-size: 14px;
    font-weight: 600;
}

ol li:nth-child(2){
    color: blue;
}

ol li:nth-child(3){
    color: red
}

