#students{
    background-color: rgb(234, 238, 239);
    padding: 16px;
    margin: 10px;
    border-radius: 10px;
    line-height: 1.8;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    grid-row: 3;
}